<!DOCTYPE html>

<html lang="en">

<body>
<h1>Welcome to Spring, {{ name }}. WASTED!!!</h1>
<div class="container">
<form>
    <input type="text" name="name" placeholder="Enter your name">
    <input type="submit" name="submit" value="ENTER">
</form>

</div>
</body>

</html>